html,body{
    height: 100%;
    width: 100%;

    margin: 1%;
    padding: 0;

    box-sizing: border-box;
    font-size: 62.5%;
}

#input{
    width: 20%;
    display: inline;
}
#button{
    width: auto;
    display: inline;
}
#id{
    width: auto;
    display: block;
    border: 1px solid black;
}