<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todo list angularJS</title>
    <link rel="stylesheet" href="css/style.css">
    <!--cloudfare css cdn-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <!--angular JavaScript cdn-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body ng-app="todoList" ng-controller="listCtrlr">
    Hello world! angularJS

    <br>

    {{test}}

    <br>

    <form ng-submit="addContent()">

        <input id="input" type="text" ng-model="title" placeholder="List Items">

        <button type="submit" id="button" >submit</button>

    </form>
    


    <ul ng-repeat="item in content" id="ul">

        <li id="spclLI">
            {{item.title}}
        </li>
    </ul>


</body>
<script src="js/script.js"></script>
</html>

